

button {
	font-family: 'Rubik Mono One', sans-serif;	border-style: solid; 
	font-size: 40px;
	color:white;
	border-radius: 25px;
	background-color: #4B5320;
	width: 250px;
    border: 5px solid white;
    margin-right: 400px;
	padding-left: 5%;
	padding-right: 26%;
	padding-top: 1%;
	padding-bottom: 1%;
	float: right;

}
h2 {
	font-family: 'Rock Salt', cursive;	font-size: 50px;
	color: white;
	margin-right: 100px;
	float: right;

}
body { background-color: #101010 	;

}

.img  {
		margin-top: 10%;
}
